# Default code owners
* @blakeox

# Key areas
/functions/* @blakeox
/src/pages/about.astro @blakeox
/src/components/composites/PhotoCarousel.astro @blakeox
/tests/playwright/** @blakeox
/scripts/** @blakeox
