import { getCollection } from 'astro:content';

export async function get() {
  const posts = await getCollection('blog');
  return {
    props: { posts },
  };
}

---

<html>
  <head>
    <title>Blog</title>
  </head>
  <body>
    <h1>Blog</h1>
    <ul>
      {posts.map(post => (
        <li><a href={`/blog/${post.slug}/`}>{post.title}</a></li>
      ))}
    </ul>
  </body>
</html>
